extends ../layout


block content
  div.container
    h1 Welcome to Matrix Bot!
    p.
    p.
    //button(id="start", autocomplete="off").btn.btn-primary Start
    //button(id="stop", autocomplete="off").btn.btn-danger Stop
    button(autocomplete="off", id="watch").btn.btn-primary Connect

    div.row
      div.col-md-12
        div.container#streams
          div.row
            div.col-md-12
              center
                button(id="btnFwd", value="fwd").btn.btn-success Forward
          p.

          div#navButtons
            div.row
              div.col-md-1
                button(id="btnLeft", value="left").btn.btn-warning Left
              div.col-md-10
                div.panel.panel-default
                  div.panel-heading
                    h3.panel-title Live Feed
                  div.panel-body#stream
              div.col-md-1
                button(id="btnRight", value="left").btn.btn-warning Right
            div.row
              div.col-md-12
                center
                  button(id="btnBack", value="fwd").btn.btn-success Back
          p.









